body
{
	/*set background image to flatirons.png*/
	background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1597/510b63daa85e363f56f9d4c0a317ef78/photo-1470415711569-2887cbe61fb2");
	/*Sets the background image to cover the webpage*/
	background-size: cover;
	/*Sets the background to be fixed to the webpage*/
	background-attachment: fixed;
	/*makes the background non-repeating*/
	background-repeat: no-repeat;
	/*changes the text to white*/
	color:#ffffff;
}
p{
	color:#ffffff;
}